{% load static %}
<div class="header__search mb-3 ">
    <form method="GET" action="{% url 'product_list' %}" class="search-form">
        <input
            type="text"
            placeholder="Search For Products..."
            class="form__input form-control"
            name="q"
            value="{{ query|default_if_none:'' }}"
        />
        
        <button class="search__btn" type="submit">
            <img src="{% static 'images/search.png' %}" alt="search icon" />
        </button>
    </form>
</div>


